@model Ferroviario.Web.Data.Entities.ServiceEntity

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ServiceEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InitialHour" class="control-label"></label>
                <input asp-for="InitialHour" class="form-control" />
                <span asp-validation-for="InitialHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InitialStation" class="control-label"></label>
                <input asp-for="InitialStation" class="form-control" />
                <span asp-validation-for="InitialStation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinalHour" class="control-label"></label>
                <input asp-for="FinalHour" class="form-control" />
                <span asp-validation-for="FinalHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinalStation" class="control-label"></label>
                <input asp-for="FinalStation" class="form-control" />
                <span asp-validation-for="FinalStation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
